body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header-top h4 {
    color: white;
}

.header-logo img {
    width: 6em;
    
}

.list-img img {
    width: 5em;
}

.btn-wide {
    padding: 0.5em 25%;
    border-radius: 5em;
}

.search-row {
    padding: 0.5em 0;
    border: 1px solid black;
    
}

.search-row img {
    width: 1.8em;
}