body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header-top h4 {
    color: white;
}

.header-logo img {
    width: 6em;
    
}

.list-img img {
    width: 5em;
}

.btn-wide {
    padding: 0.5em 25%;
    border-radius: 5em;
}

.btn-small {
    border-radius: 5em;
}

.right-list {
    background-color: white;
    color: grey;
}

.search img {
    width: 1.8em
}

.search-row {
    padding: 0.5em 0;
    border: 1px solid black;
    
}

.search-row img {
    width: 1.8em;
}

/* jumbotron */
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 550px;
}

.jumbo-row h2 {
    font-size: 2.7em;
}

.jumbo-row h2,
.jumbo-row p {
    color: white;
} 

.jumbo-col img {
    width: 58%;
}