body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* header */
.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}

.header-top h4 {
    color: white;
}

.header-logo img {
    width: 6em;
    
}

.list-img img {
    width: 5em;
}

.btn-wide {
    padding: 0.5em 25%;
    border-radius: 5em;
}

.btn-small {
    border-radius: 5em;
}

.right-list {
    background-color: white;
    color: grey;
}

.search img {
    width: 1.8em;
}

.search-row img {
    z-index: 1;
    width: 2.3em;
}

/* jumbotron */
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 550px;
}

.jumbo-row h2 {
    font-size: 2.7em;
}

.jumbo-row h2,
.jumbo-row p {
    color: white;
} 

.jumbo-col img {
    width: 58%;
}

.card-thumbs img {
    width: 100%;
    border-radius: 15px;
}

/* playstation 5 */
.section-title {
    font-size: 2.5em;
}

section h6 {
    color: #157dd2;
}

.ps4-section p,
.ps-store-section p,
.ps5-section p {
    color: #727272;
    font-size: 1.3em;
}

.ps5-slider img {
    width: 95%;
}

.ps5-thumbs img {
    width: 50%;
}

@media screen and (max-width:768px) {
.ps5-thumbs img {
    width: 90%;
} 
 
.ps4-thumbs img {
    width: 90%;
} 

}

.ps5-thumbs,
.hardware-title {
    text-align: center;
}
/* /playstation 5 */

/* it takes tow */
.takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
/* /it takes tow */

/* new games */
.new-games-section {
    background-color: #1f1f1f;
}
/* /new games */

/* playstation 4 */
.reg {
    vertical-align: super;
}
/* /playstation 4 */

/* ps plus */
.ps-plus-section {
    background-color: #bebcbb;
    height: 350px;
}

/* /ps plus */
.ps-plus-banner {
    height: 350px;
    position: relative;
}

.ps-plus-banner img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 2em;
}

.btn-ps-plus {
    background-color: rgba(255, 255, 255, 0.5);
}
/* /ps plus */

/* ps-store */
.ps-store-thumbs img {
    width: 80%;
}
/* /ps-store */

/* ps now */
.ps-now-section {
    background-color: #161c3b;
}

.ps-now-section p {
   font-size: 1.1em;
}
/* /ps now */

/* social */
.social-thumbs img {
    width: 80%;
}
/* /social */

/* footer */
.footer {
    background-color: #00439c;
}

.footer-logo img {
    width: 6em;
}

.language-logo img {
    width: 1.3em;
}

.sie-logo img {
    width: 8em;
}
/* /footer */